.header {
    height: 76px;
}
.menu {
    position: relative;
    width: 530px;
}
.text {
    float: left;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.icon {
    width: 24px;
    height: 24px;
    margin: 24px;
    cursor: pointer;
}