// This is the project stylesheet

// Colors
$black: rgba(0, 0, 0, 1);
$gray: rgba(128, 128, 128, 1);
$transparent-black: rgba(0, 0, 0, 0.1);
$white: rgba(255, 255, 255, 1);

// Typographies
@mixin roboto-14-regular {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
@mixin roboto-16-regular {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.characterCard {
    box-shadow: 0 6px 16px 0 $transparent-black;
    display: flex;
    align-items: flex-start;
  }
  .image {
    width: 31.7%;
    align-self: stretch;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
  }
  .flexWrapperOne {
    background-color: $white;
    border-radius: 0px 10px 10px 0px;
    padding: 16px 87px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .id {
    width: 15.44%;
    height: 13.97%;
    margin-bottom: 74px;
    color: $black;
    @include roboto-16-regular;
  }
  .idEmphasis1 {
    color: $gray;
    @include roboto-16-regular;
  }
  .name {
    width: 68.34%;
    height: 11.76%;
    margin-bottom: 11px;
    color: $gray;
    @include roboto-14-regular;
  }
  .nameEmphasis0 {
    color: $black;
    @include roboto-14-regular;
  }
  .location {
    height: 11.76%;
    align-self: stretch;
    color: $gray;
    @include roboto-14-regular;
  }